{% extends 'base.html.twig' %}

{# {% block title %}AppBundle:Atividade:index{% endblock %}  #}

{% block body %}
	{% block content %}
		<div class="container">
		    <div class="row">
		        <div class="col-md-10 col-md-offset-1">
		            <div class="panel panel-default">
		                <div class="panel-heading">Home</div>

		                <div class="panel-body">
		                    <ul>
		                        <li><a href="{{ path('atividades') }}" class="link-edit">Atividades</a></li>
		                    </ul>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	{% endblock %}
{% endblock %}
